[submodule "themes/hugo-flex"]
	path = themes/hugo-flex
	url = git@github.com:xiahualiu/hugo-flex.git
[submodule "themes/minimal_hugo"]
	path = themes/minimal_hugo
	url = git@github.com:xiahualiu/minimal_hugo.git
